
footer {
  position:relative;
  float: left;
  width: 100%;
  background-color: #cccccc;
  text-align:center;
  font-style: italic;
}

body {
  margin:0;
  padding:0;
  min-width: 525px;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.box {
  height: flex;
  text-align: center;
}

.left {
  text-align: center;
  flex: 1;
  background-color: #ff9300;
}

.center {
  flex: 2;
  background-color: white;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.right {
  flex: 1;
  background-color: #874efe;
  text-align: center;
}

.center ul {
  list-style: none;
  margin: 12px 0px 0px 12px;
  padding: 0px;
}

.left ul {
  list-style: none;
  margin: 12px 0px 0px 12px;
  padding: 0px;
}

.right ul {
  list-style: none;
  margin: 12px 0px 0px 12px;
  padding: 0px;
}

.left li a:link, #nav li a:visited {
  font-size: 12pt;
  font-weight: bold;
  padding: 3px 0px 3px 3px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.left li a:hover, #nav li a:active {
  font-size: 12pt; 
  font-weight: bold;
  padding: 3px 0px 3px 3px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}
